@import 'tailwindcss';
@import '@fontsource/syne';

html,
body {
  margin: 0;
  font-family: 'Syne', sans-serif;
  background: #f6f6f6;
  color: #111827;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
p {
  margin: 0;
}

#root {
  width: 420px;
  min-height: 620px;
}
